<!DOCTYPE html>

<html lang="en">
 
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem Vindo</title>
    <script src="https://unpkg.com/vue@2.7.7/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./style.css">

</head>
 
<body>
 
  <div id="imoveis">

    <h1 class="mytext">Bem Vindo!</h1>

      <div style="text-align:center; margin-top:-27px;"> 
        
       	<div style="display: inline-block; margin: 5px;">

          <button class="mybutton" onclick="location.href='listar_anuncios.html';">Ver anuncios de imoveis</button>

        </div>

        <div style="display: inline-block; margin: 5px;">

          <button class="mybutton" onclick="location.href='cadastrar_imovel.html';">Cadastrar Imóvel</button>

        </div>

      </div>
        <table class="content-table" style="margin-left: auto; margin-right: auto;">
          <thead>
            <tr>
              <th>Título</th>
              <th>Endereco</th>
              <th>Área do terreno (m²)</th>
              <th>Qtd de quartos</th>
              <th>Qtd de banheiros</th>
              <th>Vagas de garagem</th>
              <th>Preço</th>
              <th>Status</th>
              <th>Fotos</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="imovel in imoveis" :key="imovel.id">
              <td>{{ imovel.titulo }}</td>
              <td>{{ imovel.endereco }}</td>
              <td>{{ imovel.metros_quadrados_de_terreno }}</td>
              <td>{{ imovel.quantidade_de_quartos }}</td>
              <td>{{ imovel.quantidade_de_banheiros }}</td>
              <td>{{ imovel.quantidade_de_vagas_de_garagem }}</td>
              <td>{{ imovel.preco }}</td>
              <td>{{ imovel.status }}</td>
              <td><img v-for="imagem in imovel.imagens" :src="img(imagem.id)" class="figure"/></td>
            </tr>
          </tbody>
        </table>
  </div>
        

 
    <script>
      var imoveis = new Vue({
          el: "#imoveis",
          data: {
              imovel: {},
              imoveis: [],
          },
          methods: {
        	MostrarSeusImoveis: function () {
            const config = {
              headers: { Authorization: "Bearer " + localStorage.token }
            };
            var URI = 'http://localhost:8080/api/usuarios/' + localStorage.id +'/imoveis'
                    axios.get(URI, config).then((result) => {
                        this.imoveis = result.data;
                    });
          },
          img: function (id) {
            return "http://localhost:8080/api/imagem/" + id;
          }
        },
        beforeMount(){
          this.MostrarSeusImoveis()
        }
      });
    </script>

</body>

</html>