<!DOCTYPE html>

<html lang="en">
 
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de usuário</title>
    <script src="https://unpkg.com/vue@2.7.7/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./style.css">

</head>
 
<body>


    <div class="login-page">
        <div  class="form">
            <form class="login-form" id="usuario">

                    <h1>Cadastro</h1>

                    <input type="text" v-model="nome" placeholder="Nome" />
    
                    <input type="text" v-model="endereco" placeholder="Edereço" />     
    
                    <input type="email" v-model="email" placeholder="E-mail" />
    
                    <input type="text" v-model="cpf" placeholder="Cpf" maxlength="11"/>
    
                    <input type="text" v-model="telefone" placeholder="Telefone" />
    
                    <input type="password" v-model="senha" placeholder="Senha" />
    
                    <button  type="button" @click="postUsuario">Cadastrar</button>

                    <p class="message">Já é registrado? <a href="login.html">faça login</a></p>
            
            </form>
        </div>
    </div>
 
    <script>
        var usuario = new Vue({
            el: "#usuario",
            data: {
                nome: "",
                endereco: "",
                telefone: "",
                cpf: "",
                email: "",
                senha: "",
                baseURI: "http://localhost:8080/api/usuarios",
            },
            methods: {
                postUsuario: function () {

                    let obj = {
                        nome: this.nome,
                        endereco: this.endereco,
                        telefone: this.telefone,
                        cpf: this.cpf,
                        email: this.email,
                        senha: this.senha,
                        };
 
                        axios.post(this.baseURI, obj).then((result) => {
                            window.alert("cadastro efetuado com sucesso");
                        });
                },
            },
        });
    </script>

</body>

</html>