<!DOCTYPE html>

<html lang="en">
 
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de imóvel</title>
    <script src="https://unpkg.com/vue@2.7.7/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./style.css">

</head>
 
<body>
    <div class="login-page">
        <div  class="form">
            <form class="login-form" id="imovel">

                    <h1>Cadastro de imovel</h1>

                    <input type="text" v-model="titulo" placeholder="Titúlo" />

                    <input type="text"  v-model="endereco" placeholder="Endereço" />
    
                    <input type="number" v-model="metros_quadrados_de_terreno" placeholder="Metros Quadrados de Terreno" min="0"/>     

                    <input type="number" v-model="quantidade_de_quartos" placeholder="Quantidade De Quartos" min="0" />

                    <input type="number" v-model="quantidade_de_banheiros" placeholder="Quantidade De Banheiros"  min="0" />

                    <input type="number" v-model="quantidade_de_vagas_de_garagem" placeholder="Quantidade de Vagas de Garagem"  min="0" />

                    <input type="number" v-model="preco" placeholder="Preço"  min="0" />

                    <input type="file" @change="previewFiles" accept="image/*" id="file" name="file" ref="myFiles" multiple>
    
                    <button  type="button" @click="postImovel">Cadastrar</button>

                    <button  type="button" onclick="location.href='bem_vindo.html';">Voltar</button>
            
            </form>
        </div>
    </div>
 
    <script>
        var imovel = new Vue({
            el: "#imovel",
            data: {
                id: "",
                titulo: "",
                endereco: "",
                metros_quadrados_de_terreno: "",
                preco: "",
                quantidade_de_quartos: "",
                quantidade_de_banheiros: "",
                quantidade_de_vagas_de_garagem: ""           
            },
            methods: {
                postImovel: function () {
                    const config = {
                        headers: { Authorization: "Bearer " + localStorage.token }
                    };
                    
                    var URI = 'http://localhost:8080/api/usuarios/' + localStorage.id +'/imoveis'

                    let obj = {
                        titulo: this.titulo,
                        endereco: this.endereco,
                        metros_quadrados_de_terreno: this.metros_quadrados_de_terreno,
                        quantidade_de_quartos: this.quantidade_de_quartos,
                        quantidade_de_vagas_de_garagem: this.quantidade_de_vagas_de_garagem,
                        preco: this.preco,
                        quantidade_de_banheiros: this.quantidade_de_banheiros,
                        imagens: this.imagens,
                    };
                    
                    axios.post(URI, obj, config).then((result) => {   
                        this.id = result.data

                        var formData = new FormData();
                        for (let file of this.$refs.myFiles.files) {
                            formData.append("files", file);
                        }
                        axios.post("http://localhost:8080/api/imoveis/" + this.id + "/imagens",formData, config).then((result) => {

                            alert("Imóvel cadastrado");

                        }) 
                    }); 
                    
                },
                previewFiles(event) {
                    console.log(this.$refs.myFiles.files);
                }
            },
        });
    </script>

</body>

</html>